@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  background: #333;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 45px;
}

.button {
  cursor: pointer;
  padding: 20px 45px;
  background: #44bd32;
  border: 5px;
  box-shadow: 0 0 5px #44bd32;
  border-radius: 10px;
  user-select: none;
  text-transform: uppercase;
  margin-bottom: 25px;
  transition: all 0.1s ease;
}
.button:hover {
  box-shadow: 0 0 15px #44bd32;
}
.button:active {
  background: #8c7ae6;
  box-shadow: 0 0 15px #8c7ae6;
}

.balance__wraper {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  font-size: 25px;
}
.balance {
  transition: all 0.5s ease;  
}
.red {
  color: #eb2f06;
  text-shadow: 0 0 12px #eb2f06;
}
.green {
  color: #4cd137;
  text-shadow: 0 0 12px #4cd137;
}


.start-capital-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.start-capital {
  z-index: 4;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-240px);
  padding: 15px 35px;
  border-radius: 15px;
  background: #353b48;
  box-shadow: 0 0 15px 2px #353b48;
  transition: all 0.3s ease;
}
.start-capital--active {
  transform: translateX(-50%);
}
.start-capital form {
  display: flex;
  flex-direction: column;
}
.start-capital label {
  font-size: 18px;
  margin-bottom: 12px;
}
.start-capital #capital__input {
  background: #353b48;
  border: 2px solid #718093;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  color: #fff;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.start-capital #capital__input:focus {
  border: 2px solid #e1b12c;
}
.start-capital #submit {
  background: #e1b12c;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  padding: 7px;
  transition: all 0.2s linear;
  border: none;
}
.start-capital #submit:hover {
  box-shadow: 0 0 14px #e1b12c;
}